@{
    ViewBag.Title = "Datos";
}
<h2>Datos de la persona</h2>
<br>
<table class="table">
	<thead>
		<tr>
			<th>DUI</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Fecha de nacimiento</th>
			<th>Dirección</th>
			<th>Correo Electrónico</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>@ViewBag.DUI</td>
			<td>@ViewBag.Nombre</td>
			<td>@ViewBag.Apellido</td>
			<td>@ViewBag.Fecha</td>
			<td>@ViewBag.Direccion</td>
			<td>@ViewBag.Correo</td>
		</tr>
	</tbody>
</table>



